.app-navbar {
  max-width: 1200px;
  height: 55px;
  margin: 24px auto 40px; 
  background-color: #ffffff;
  border-bottom: 1px solid yellow;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.navbar-content {
   display: flex;
  align-items: center;
  justify-content: space-evenly; 
  width: 100%;
}


/* LEFT */
.nav-left {
 
}

/* CENTER */
.search-form {
  display: flex;
  gap: 12px;
}

.form-control {
  width: 260px;
}

/* RIGHT */
.nav-actions {
   display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;  
}

/* Links */
.nav-item-link {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  gap: 20px;
}

/* Buttons */
.btn:hover {
  background-color: green;
  color: white;
}
