.auth-container {
  min-height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #1c1c1c;
  padding: 30px;
  width: 350px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}

.auth-card h2 {
  text-align: center;
}

.auth-card input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.auth-card button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #ede9fe;
  font-weight: bold;
  cursor: pointer;
}

.error-text {
  color: #ff6b6b;
  font-size: 14px;
  text-align: center;
}